.container {
  max-width: 960px;
  background: #1d1f3b;
  position: sticky;
  color: rgb(124, 116, 133);
  z-index: 2000;
  padding-bottom: 50px;
}

h4, h4 .text-primary {
  color: #cc8de6 !important;
}

.form-control {
  font-size: 1rem;
  background-color: rgba(0,0,0,.2);
  color: rgb(204, 204, 204);
  border: 1px solid #656;
}

.input-group-text {
  background-color: rgba(0,0,0,.5);
  color: #ccc;
  border-color: #656;
}

.list-group-item {
  background-color: #eee;
}